<div>
  <h1 class="header">Welcome to my website</h1>

  <ul>
    <li *ngFor="let link of navLinks">
      <a [routerLink]="link.route">{{ link.label }}</a>
    </li>
  </ul>

  <nav>
   
  </nav>
  <router-outlet></router-outlet> <!-- Added router outlet -->
</div>

 <!-- <ul>
      <li><a class="nav-item" routerLink="/home" >Home</a></li>
      <li><a class="nav-item" routerLink="/about">About Me</a></li>
      <li><a class="nav-item" routerLink="/projects">Projects</a></li>
      <li><a class="nav-item" routerLink="/portfolio">Linkedin</a></li>
      <li><a class="nav-item" routerLink="/contact">Contact Me</a></li>
    </ul> -->


    <!-- <div *ngIf="t1">
      <app-component-component2></app-component-component2>
    </div> -->
   
    <!-- <div> <app-component1></app-component1></div> -->