/* You can add global styles to this file, and also import other style files */
.header{
    justify-content: center;
    display: flex;
}
.paragrah{
    margin-bottom: -20px;
    margin-top: -20px;
}
.app-component {
    background-color: black;
}
